    <!-- Start of login popup -->
    <!-- ======================= -->

    <div class="hide/show" *ngIf="isOpen">
        <div class="popup popup--open">
            <div class="popup__header">
                <!--<button style="background-color: Transparent; border: none;" (click)="closeLoginPopup()">-->
                    <div title="Close" class="close layout--center" (click)="closeLoginPopup()">
                    X
                </div>
                <!--</button>-->
            </div>
            <div class="popup__body layout--center">
                <div class="popup__body-inner">

                    <div class="form">
                        <div class="form__title">
                            JOIN <span class="highlight">#</span>DEVRANT
                        </div>
                        <div class="form__description">
                            Vote and comment on others' rants. Post your own.
                        </div>
                        <form name="login" [formGroup]="loginForm">
                            <div class="login">

                                <input type="text" placeholder="USERNAME" formControlName="username" autofocus onkeypress="moveOnTab(this, event);" required/>
                                <input type="password" placeholder="PASSWORD" formControlName="password" required />

                                <!--<div class="loader">-->
                                    <!--<div class="spinner"></div>-->
                                <!--</div>-->

                                <div class="form__error">
                                    Some fields are missing !
                                </div>

                                <input type="submit" (click)="login()" onkeypress="submitOnEnter(this, event);" value="LET ME IN" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ======================= -->
    <!-- End of login popup -->
